{% load static %}
{% block content %}
<div class="container-fluid info-block" id="info">
	<div class="container info-content">
		<h1 >О нас</h1>
		<div class="row">

			<div class="card-deсk">
				
				<div class="col-lg-4 col-xs-12">
					<div class="card shadow">
					<div class="card-body">
						<img class="shadow rounded-circle card-img-top" src="{% static '/webexample/images/bet.png' %}" >
						<h4 class="card-title text-center">Трофимова Кристина</h4>
						<p class="card-text text-center text-black-50">— Нельзя заставить людей любить тебя. Нужно просто подождать, пока им надоест тебя ненавидеть.</p>
					</div>
					</div>
				</div>
			
			
				<div class="col-lg-4 col-xs-12">
					<div class="card shadow">
						<div class="card-body">
							<img class="shadow rounded-circle card-img-top" src="{% static '/webexample/images/mister.png' %}" >
							<h4 class="card-title text-center">Теплоухов Андрей</h4>
							<p class="card-text text-center text-black-50">— Своими мозгами думайте, не будьте тупым стадом.</p>
						</div>
					</div>
				</div>
		
				<div class="col-lg-4 col-xs-12">
					<div class="card shadow">	
						<div class="card-body">
							<img class="shadow rounded-circle card-img-top" src="{% static '/webexample/images/morti.png' %}" >
							<h4 class="card-title text-center">Бобов Юрий</h4>
							<p class="card-text text-center text-black-50">— Никто не существует по определенной причине, никто ни к чему не привязан, все однажды умрут, пойдем посмотрим телек.</p>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>

<footer id ="contact">
	<div class="container-fluid block-footer">
		
			<p class="text-right p-footer">kabels_rf@gmail.com</p>
			<p class="text-right p-footer">+7 904-328-54-56</p>
		
	</div>
</footer>

{% endblock %}